@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

/* --- Login/Register --- */

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
}

/* --- Navbar --- */

h3 {
  font-size: 2rem;
}

:root {
	--mainColor: #640026ca;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

/* --- Tiles --- */

.tiles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 2em;
}

.tile {
  /* display: flex; */
  width: 10em;
  height: 5em;
  background-color: #64002674;
  color: white;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  backdrop-filter: blur(6px);
}



.tile_1 {

}

.tile_2 {

}

.tile_3 {

}

.tile_4 {

}

.tile_5 {

}

.tile_6 {

}

/* --- Expanded Tiles --- */

.expanded_1 {

}

.expanded_2 {

}

.expanded_3 {

}

.expanded_4 {

}

.expanded_5 {

}

.expanded_6 {

}
